#box1 {
  background: url("http://docs.lipeihua.vip/images/01.jpg");
  font-size: 30px;
}
#box2 {
  background: url("http://docs.lipeihua.vip/images/02.jpg");
}
#box3 {
  background: url("http://docs.lipeihua.vip/images/03.jpg");
}
